<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>saveNotes</servlet-name>
  	<display-name>saveNotes</display-name>
  	<description></description>
  	<servlet-class>com.servlets.saveNotes</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeletePage</servlet-name>
  	<display-name>DeletePage</display-name>
  	<description></description>
  	<servlet-class>com.servlets.DeletePage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>update</servlet-name>
  	<display-name>update</display-name>
  	<description></description>
  	<servlet-class>com.servlets.update</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>saveNotes</servlet-name>
  	<url-pattern>/saveNotes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeletePage</servlet-name>
  	<url-pattern>/DeletePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>update</servlet-name>
  	<url-pattern>/update</url-pattern>
  </servlet-mapping>
</web-app>
